---
const base = import.meta.env.BASE_URL; // en GitHub Pages será '/cv-web/'
---

<section id="about" class="container about grid-2">
  <div class="profile">
    <img src={`${base}img/profile-placeholder.jpg`} alt="Foto de perfil" />
  </div>
  <div class="card">
    <h3 class="section-title">Sobre mí</h3>
    <p class="section-sub">Un vistazo rápido</p>
    <p>
      Soy Project Manager y Desarrollador Front‑End con enfoque en la organización, la calidad y la comunicación efectiva. 
      Me apasiona traducir objetivos de negocio en entregables claros y medibles, apoyándome en metodologías ágiles y herramientas de automatización para generar impacto.
    </p>
    <div style="display:grid; grid-template-columns:1fr 1fr; gap:12px; margin-top:10px">
      <div class="card" style="padding:12px">
        <strong>Educación</strong>
        <div class="section-sub">Ingeniería en Computación UdeG (2021–en curso)</div>
      </div>
      <div class="card" style="padding:12px">
        <strong>Idiomas</strong>
        <div class="section-sub">Español: Nativo <br> Ingles: Basico conversacional</div>
      </div>
      <div class="card" style="padding:12px">
        <strong>Direccion</strong>
        <div class="section-sub">Calle gardenia 3928 <br> Col. la coronilla Zapopan Jal.</div>
      </div>
      <div class="card" style="padding:12px">
        <strong>Lenguajes de programación</strong>
        <div class="section-sub">Front-end: HTML, CSS, JS. <br> Back-end: C, C++, PYTHON. <br> FW: Astro, TWCSS, Vue.</div>
      </div>
    </div>
  </div>
</section>
