---
const base = import.meta.env.BASE_URL; // en GitHub Pages será '/cv-web/'
---

<section id="portafolio" class="container" style="padding: 22px 0 46px">
  <h3 class="section-title">Portafolio</h3>
  <p class="section-sub">Algunos proyectos y prácticas recientes</p>
  <div class="grid-2">
    <div class="card">
      <img src={`${base}img/service1.png`} alt="neowebs" class="img-prtfolio"/>
      <strong class="title-prtfolio">Proyecto neowebs</strong>
      <p>Un sitio web moderno diseñado para potenciar la presencia digital.</p>
      <p>Funciones: </p>
      <ul>
        <li>Gestor de contenido dinámico (CMS)</li>
        <li>Diseño responsive optimizado</li>
        <li>Integración con formularios</li>
      </ul>
      <div class="cont-btn">
        <a href="https://neo-webs-page.vercel.app/" class="btn-prtfolio">Visitar</a>
      </div>
    </div>
    <div class="card">
      <img src={`${base}img/service3.png`} alt="EBC" class="img-prtfolio" style="width:100%; border-radius:12px; margin-bottom:12px"/>
      <strong class="title-prtfolio">Proyecto Ebodies Clinic</strong>
      <p>Un sitio web moderno y funcional para una clínica de nutrición.</p>
      <p>Funciones: </p>
      <ul>
        <li>Sistema de citas en línea</li>
        <li>Pagos mediante Stripe</li>
        <li>Notificaciones por correo electrónico</li>
      </ul>
      <div class="cont-btn">
        <a href="https://ebodiesclinic.com/" class="btn-prtfolio">Visitar</a>
      </div>
    </div>
    <div class="card">
      <img src={`${base}img/service2.png`} alt="EBL" class="img-prtfolio" style="width:100%; border-radius:12px; margin-bottom:12px"/>
      <strong class="title-prtfolio">Proyecto Ebodies Labs</strong>
      <p>Un sitio E-commerce para productos de nutrición.</p>
      <p>Funciones: </p>
      <ul>
        <li>Catálogo de productos</li>
        <li>Pagos mediante Stripe</li>
        <li>Notificaciones por correo electrónico</li>
      </ul>
      <div class="cont-btn">
        <a href="https://ebodieslabs.com/" class="btn-prtfolio">Visitar</a>
      </div>
    </div>
    <div class="card">
      <img src={`${base}img/service4.png`} alt="OMNILIFE" class="img-prtfolio" style="width:100%; border-radius:12px; margin-bottom:12px"/>
      <strong class="title-prtfolio">Proyecto OMNILIFE</strong>
      <p>Aplicación web interactiva para realizar sorteos y dinámicas.</p>
      <p>Funciones: </p>
      <ul>
        <li>Personalización de premios y participantes</li>
        <li>Animación de ruleta con efectos visuales</li>
        <li>Mensaje emergente con el resultado ganador</li>
      </ul>
      <div class="cont-btn">
        <a href="https://bmendez-admin.github.io/ruleta/" class="btn-prtfolio">Visitar</a>
      </div>
    </div>
  </div>
</section>
